<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="app">
    <main-class name="org.jboss.openshift.txrecovery.Main"/>
    <resources>
        <resource-root path="tx-recovery-marker-jdbc.jar"/>
    </resources>
    <dependencies>
        <module name="org.hibernate"/>
    </dependencies>
</module>
